/* BODY */
body{
    overflow:hidden;
    background:#f3f4f6;
}

/* SIDEBAR */
#sidebar{
    background:linear-gradient(180deg,#111,#000);
}

/* MENU */
.menuBtn{
    transition:0.2s ease;
    color:white;
    border-radius:14px;
    padding:14px;
}

.menuBtn:hover{
    background:rgba(255,255,255,0.08);
}

.menuBtn.active{
    background:#dc2626;
}

.menuText{
    transition:0.2s ease;
}

/* COLLAPSE */
.sidebar-collapsed .menuText{
    display:none;
}

.sidebar-collapsed .menuBtn{
    justify-content:center;
}

/* CARD */
.card{
    background:white;
    border-radius:18px;
    padding:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    border-top:4px solid #dc2626;
}

/* MAP */
#map{
    height:100%;
    width:100%;
    border-radius:12px;
}

/* TABLE */
table{
    border-collapse:collapse;
}

th{
    background:black;
    color:white;
}

th,td{
    padding:14px;
}

/* BUTTONS */
.actionBtn{
    padding:6px 12px;
    border-radius:8px;
    color:white;
    font-size:13px;
    font-weight:bold;
}

.confirmBtn{
    background:#16a34a;
}

.rejectBtn{
    background:#dc2626;
}

/* SECTION */
.section{
    animation:fadeIn .25s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}